.custom_width {
    width: 78px !important;
    height: 30px !important;
}

.custom_pad {
	padding: 10px 10px 10px 10px;
}

.image_size {
	max-width:50%;
	max-height:50%;
}

.custom_color {
	color: blue;
}

.panel-gray > .panel-heading {
  color: #F93106;
  background-color: rgb(157, 195, 230);
  border-color: #646261;
}